<%- include ("./partials/header.ejs") %>


<section class='schedule-section' id="scheduleSection" data-schedule_id= <%=planID%> >

    <div class="schedule-info">
        <h1 class='schedule-h1'><span class='text-highlight'>
            Meal schedule for:</span> <%= meal.recipient.name %></h1>
        <h4 class='schedule-h4'><span class='text-highlight'>
            Address:</span> <%=meal.address.address%>
            <%if(meal.address.city) { %>
            , <%=meal.address.city%>
            <% } %>
            <% if(meal.address.state) { %>
            , <%=meal.address.state%>
            <% } %>
        </h4>
        <h4 class='schedule-h4'><span class='text-highlight'>
            Organized by:</span> <%=meal.organizer.name%>
            <% if(meal.organizer.phone) { %>
                , <span class='text-highlight'>phone#:</span> <%=meal.organizer.phone%></h4>
            <% } %>
        <% if(meal.extras.allergies) { %>
            <h4 class='schedule-h4'><span class='text-highlight'>Allergies: </span><%=meal.extras.allergies%></h4>
        <% } %>
        <% if(meal.extras.preferences) { %>
            <h4 class='schedule-h4'><span class='text-highlight'>Preferences: </span><%=meal.extras.preferences%></h4>
        <% } %>
        <% if(meal.extras.notes) { %> 
            <h4 class='schedule-h4'><span class='text-highlight'>Notes: </span><%=meal.extras.notes%></h4>
        <% } %>
    </div>


    <table class='schedule-table'>
        <thead>
            <tr class='schedule-tr'>
                <!-- <th>
                    <td>Date</td>
                    <td>Name</td>
                    <td>Phone</td>
                    <td>Description</td>
                </th> -->
            </tr>
        </thead>
        <tbody>
            <% schedule.forEach((meal, index) => { %>
                <tr class='schedule-tr'>
                    <td class='schedule-td justify-left'>
                        <span class ='schedule-date' ><%=meal.dateString%></span> | <%=meal.mealName %>
                    </td>
                    <!-- <td class='schedule-td'><%=meal.mealName %></td> -->
                    <td class='schedule-td' id='vname-<%=index%>'><%=meal.volunteer.name%></td>
                    <td class='schedule-td' id='vphone-<%=index%>'><%=meal.volunteer.phone%></td>
                    <td class='schedule-td' id='vmeal-<%=index%>'><%=meal.volunteer.mealDesc%></td>
                    <% if(meal.taken == true) { %>
                        <td class='schedule-td justify-right'>
                            <button class='schedule-btn hide' id='volunteerBtn-<%=index%>'
                            data-meal_id='<%= meal._id %>'>Volunteer</button>
            
                            <button class='schedule-btn' id='removeBtn-<%=index%>'
                                    data-meal_id='<%= meal._id %>'>Remove</button>
                        </td>
                    <% } else{ %>
                        <td class='schedule-td justify-right'>
                            <button class='schedule-btn' id='volunteerBtn-<%=index%>'
                            data-meal_id='<%= meal._id %>'>Volunteer</button>
            
                            <button class='schedule-btn hide' id='removeBtn-<%=index%>'
                                    data-meal_id='<%= meal._id %>'>Remove</button>
                        </td>
                    <% } %>
                </tr>
                <% }) %>
        </tbody>
    </table>
    
    <div class="volunteer-div hide" id='volunteerDiv'>
        <form action="./<%= meal.planID %>" method="POST">
            <input type="hidden" name="mealID" id='mealID'>
            <!-- <input type="hidden" name="dayID" id='dayID'> -->
            <h5 class='volunteer-header'>Please enter your details</h5>
            <div class="input-group">
                <label for="name">name:</label>
                <input type="text" name="name" id="name"
                        placeholder="So others know who is taking the food">
            </div>
            <div class="input-group">
                <label for="phone">phone#:</label>
                <input type="text" name="phone" id="phone"
                        placeholder="In case someone wants to reach you (Optional)">
            </div>
            <div class="input-group">
                <label for="mealDesc">Meal</label>
                <input type="text" name="mealDesc" id="mealDesc" 
                        placeholder="What will you be taking?">
            </div>
            <button type="submit">Submit</button>
        
        </form>
    </div>
    
    
    <div class="blur hide" id="blur"></div>
    
</section>


<script src="/scripts/schedule.js"></script>


<%- include ("./partials/footer.ejs") %>
